
label {
    display: inline-block;
    width: 80px;
    height: 31px;
    border: solid 2px #E5E5E5;
    border-radius: 20px;
    color: #E5E5E5;
    
    /* justify-items: center; */
    
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:checked + label {
    border: solid 2px #293881;
    color: #293881;
  }
  

div#nama-div, div#deskripsi-div {display: none}
div#es-div, div#kosong-div {display: none}