/* not active */
.nav-pills .nav-link:not(.active) {
    background-color: #ffffff;
    color: #293881;
}


/* active (faded) */
.nav-pills .nav-link.active {
    background-color: #293881 !important;
    color: white !important;
}


#pills-home-tab{
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    
}

#pills-profile-tab{
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}


